<div class='full no-padding' style='background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../images/@stock/big-socials-bg.jpg); background-size:cover; background-attachment: fixed;background-position: center top;color: #fff;'>
    <div>
   <div class='two spacing'></div>
   <div class='row'>
     <div class='large-12 columns' style="text-align:center;">
         <div class='colums'>
           <img alt="" src="{{site.url}}/images/logo_riskn_white.png" style="width:100px;height:26px"/>
        <!--  {% for social in page.socials %} 
         <div class='big-social'><a href='{{social.link_to}}'>
           <i class='{{social.icon_class}}'></i>
         </a> 
       </div>{% endfor %} -->
       <div class='small-social'><a href='https://fr.linkedin.com/company/riskntic'>
         <i class='fa fa-linkedin'></i>
       </a> 
     </div>
       </div>
       <div class='colums'>
          <!--  <a href='{{site.url}}/posts/mention-legale.html' style="border-bottom:#c20b47 dotted 1px;font-size:13px">Termes et Conditions</a> -->
         <a class="footer-link" href='{{site.url}}/posts/GDPR-pia.html' style="border-bottom:#e90576 dotted 1px;margin-left:20px;font-size:13px">EU GDPR Détails</a>
         <a class="footer-link" href='{{site.url}}/posts/mention-legale.html' style="border-bottom:#e90576 dotted 1px;margin-left:20px;font-size:13px">Mention légale</a>
        </div>
        <div class="spacing"></div>
       <p>Copyright©2018 {{site.title}}.  Tout droit réservé.</p> 
     </div>
   </div></div>
   <div class='spacing'></div>
   <a class='link-btn' href='#top'><div class='scroll-to-top' style='display:block'><i class='fa fa-angle-up'></i></div></a>
  </div>