<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedSlider' >
       <div class='slides'>
          {% for image in page.images %}
            <div class="slide" > 
             <img src="{{site.url}}/{{image}}" alt=""  style="margin:auto;height:350px;">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
  <div class='row'>
    <div class=' columns'>
      <!-- <h3>Risk’n tic propose une démarche globale, itérative, scalable, simple et outillée de management des risques du Système d’Information </h3>
      <p>
          Cette démarche vous accompagne dans vos processus de certification et de mise en conformité de votre SI. Risk’n Tic vous accompagne pour développer une stratégie complète de gestion des risques, limiter les pertes financières, protéger votre patrimoine informationnel et l’ image de votre entité Risk’n Tic est une démarche outillée de management des risques pour vous guider vers la certification, l’homologation et la mise en conformité de votre S.I avec les exigences légales et réglementaires.. Risk’n Tic : Un outil de management des risques. Une solution d’analyse d’écart par rapport a des référentiels publics (ANSSI, LPM, IOS27002, PCi-DSS….) ou privés (PSSI interne, plan de contrôle) Une solution de mise en conformité àà la GDPR ( Registre, analyse de d’impact, accountability) L’ export de tableaux de bord analytiques et fractales permet de communiquer sur le traitement des risques vers l’ensemble des acteurs: DSI, RSSI, Direction, Auditeurs, Clients…
      </p>  -->
     {% tf {{page.article}} %}
     <div class='four spacing'></div>
    <!--   <div class='spacing'></div>
      <a class='button small' href='/posts'>See all articles</a>
    </div> -->
  </div>
  <div class='four spacing'></div>
</div>

<div class='full no-padding' style='background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../images/@stock/big-socials-bg.jpg); background-size:cover; background-attachment: fixed;background-position: center top;color: #fff;'>
  <div>
 <div class='two spacing'></div>
 <div class='row'>
   <div class='large-12 columns' style="text-align:center;">
       <div class='colums'>
         <img alt="" src="{{site.url}}/images/logo_riskn_white.png" style="width:100px;height:26px"/>
      <!--  {% for social in page.socials %} 
       <div class='big-social'><a href='{{social.link_to}}'>
         <i class='{{social.icon_class}}'></i>
       </a> 
     </div>{% endfor %} -->
     <div class='small-social'><a href='https://fr.linkedin.com/company/riskntic'>
       <i class='fa fa-linkedin'></i>
     </a> 
   </div>
     </div>
     <div class='colums'>
        <!--  <a href='{{site.url}}/posts/mention-legale.html' style="border-bottom:#c20b47 dotted 1px;font-size:13px">Termes et Conditions</a> -->
       <a href='{{site.url}}/posts/GDPR-pia.html' style="border-bottom:#e90576 dotted 1px;margin-left:20px;font-size:13px">EU GDPR Détails</a>
       <a href='{{site.url}}/posts/mention-legale.html' style="border-bottom:#e90576 dotted 1px;margin-left:20px;font-size:13px">Mention légale</a>
      </div>
      <div class="spacing"></div>
     <p>Copyright©2018 {{site.title}}. Tout droit réservé.</p> 
   </div>
 </div></div>
 <div class='spacing'></div>
 <a class='link-btn' href='#top'><div class='scroll-to-top' style='display:block'><i class='fa fa-angle-up'></i></div></a>
</div>
